#include <winres.h>

LANGUAGE 0, 0

DLGTEMPLATE DIALOG 0,0,316,76
STYLE WS_CHILD | WS_CLIPSIBLINGS | WS_VISIBLE | DS_CONTROL | DS_3DLOOK
CAPTION ""
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT		"",1119,0,0,204,76,NOT WS_VISIBLE | WS_GROUP
END

TEXTFILEDLG DIALOG 0,0,316,76
STYLE WS_CHILD | WS_CLIPSIBLINGS | WS_VISIBLE | DS_CONTROL | DS_3DLOOK
CAPTION ""
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT		"",1119,0,0,316,55,NOT WS_VISIBLE | WS_GROUP
END
	65072	"Invalid stream operation"
	65073	"Error"
	65088	"This \"Portable Network Graphics\" image is invalid because it has missing image parts."
	65089	"Could not decompress the image because it contains invalid compressed data.\r\n Description: "
	65090	"The \"Portable Network Graphics\" image contains an invalid palette."
	65091	"The file being read is not a valid \"Portable Network Graphics\" image because it contains an invalid header. This file may be corrupted, try obtaining it again"
	65092	"This \"Portable Network Graphics\" image is not supported or it might be invalid.\r\n(IHDR chunk is not the first)"
	65093	"This \"Portable Network Graphics\" image is not supported because either it's width or height exceeds the maximum size, which is 65535 pixels length."
	65094	"There is no such palette entry."
	65095	"This \"Portable Network Graphics\" image contains an unknown critical part which could not be decoded."
	65096	"This \"Portable Network Graphics\" image is encoded with an unknown compression scheme which could not be decoded."
	65097	"This \"Portable Network Graphics\" image uses an unknown interlace scheme which could not be decoded."
	65098	"The chunks must be compatible to be assigned."
	65099	"This \"Portable Network Graphics\" image is invalid because the decoder found an unexpected end of the file."
	65100	"This \"Portable Network Graphics\" image contains no data."
	65101	"Some operation could not be performed because the system is out of resources. Close some windows and try again."
	65102	"This operation is not valid because the current image contains no valid header."
	65103	"The new size provided for image resizing is invalid."
	65104	"Could not obtain OLE control window handle"
	65105	"Operation not allowed on an empty OLE container"
	65106	"Invalid object verb"
	65107	"Invalid stream format"
	65108	"License information for %s is invalid"
	65109	"License information for %s not found. You cannot use this control in design mode"
	65110	"Unable to retrieve a pointer to a running object registered with OLE for %s/%s"
	65111	"Name"
	65112	"Size"
	65113	"Type"
	65114	"Modified"
	65115	"Unable to retrieve folder details for \"%s\". Error code $%x"
	65116	"%s: Missing call to LoadColumnDetails"
	65117	"Rename to %s failed"
	65118	"This \"Portable Network Graphics\" image is not valid because it contains invalid pieces of data (crc error)"
	65119	"The \"Portable Network Graphics\" image could not be loaded because one of its main piece of data (ihdr) might be corrupted"
	65120	"Method '%s' not supported by automation object"
	65121	"Variant does not reference an automation object"
	65122	"Dispatch methods do not support more than 64 parameters"
	65123	"DCOM not installed"
	65124	"First record"
	65125	"Prior record"
	65126	"Next record"
	65127	"Last record"
	65128	"Insert record"
	65129	"Delete record"
	65130	"Edit record"
	65131	"Post edit"
	65132	"Cancel edit"
	65133	"Refresh data"
	65134	"Remote Login"
	65135	"OLE control activation failed"
	65136	"Invalid reduction method"
	65137	"GIF Image"
	65138	"Loading..."
	65139	"Saving..."
	65140	"Converting..."
	65141	"Rendering..."
	65142	"Copying..."
	65143	"Optimizing..."
	65144	"Mi&nimize"
	65145	"Ma&ximize/Restore"
	65146	"&Close"
	65147	"BCD overflow"
	65148	"%s is not a valid BCD value"
	65149	"Could not parse SQL TimeStamp string"
	65150	"Invalid SQL date/time values"
	65151	"OLE error %.8x"
	65152	"Unknown GIF block type"
	65153	"Object type not supported for operation"
	65154	"Invalid GIF data"
	65155	"Image height too small for contained frames"
	65156	"Image width too small for contained frames"
	65157	"Failed to store GIF on clipboard"
	65158	"Image exceeds Logical Screen size"
	65159	"No global or local color table defined"
	65160	"Invalid pixel coordinates"
	65161	"Unsupported PixelFormat"
	65162	"Invalid image dimensions"
	65163	"Image has no DIB"
	65164	"Invalid stream operation"
	65165	"Color not in color table"
	65166	"Color table is empty"
	65167	"Image is empty"
	65168	"JPEG Image File"
	65169	"Premature end of data"
	65170	"Color table overflow"
	65171	"Invalid color index"
	65172	"Unsupported GIF version"
	65173	"Invalid GIF signature"
	65174	"Invalid number of colors specified in Screen Descriptor"
	65175	"Invalid number of colors specified in Image Descriptor"
	65176	"Unknown extension type"
	65177	"Invalid extension introducer"
	65178	"Failed to allocate memory for GIF DIB"
	65179	"Decoder bit buffer under-run"
	65180	"Circular decoder table entry"
	65181	"Invalid Image trailer"
	65182	"Internal error: Extension Instance does not match Extension Label"
	65183	"Unsupported Application Extension block size"
	65184	"Failed to delete tab at index %d"
	65185	"Failed to retrieve tab at index %d"
	65186	"Failed to get object at index %d"
	65187	"Failed to set tab \"%s\" at index %d"
	65188	"Failed to set object at index %d"
	65189	"MultiLine must be True when TabPosition is tpLeft or tpRight"
	65190	"Invalid index"
	65191	"Unable to insert an item"
	65192	"Invalid owner"
	65193	"RichEdit line insertion error"
	65194	"Failed to Load Stream"
	65195	"Failed to Save Stream"
	65196	"%d is an invalid PageIndex value.  PageIndex must be between 0 and %d"
	65197	"This control requires version 4.70 or greater of COMCTL32.DLL"
	65198	"Cannot change the size of a JPEG image"
	65199	"JPEG error #%d"
	65200	"Inactive Caption"
	65201	"Inactive Caption Text"
	65202	"Info Background"
	65203	"Info Text"
	65204	"Menu Background"
	65205	"Menu Bar"
	65206	"Menu Highlight"
	65207	"Menu Text"
	65208	"None"
	65209	"Scroll Bar"
	65210	"3D Dark Shadow"
	65211	"3D Light"
	65212	"Window Background"
	65213	"Window Frame"
	65214	"Window Text"
	65215	"Failed to clear tab control"
	65216	"Active Caption"
	65217	"Application Workspace"
	65218	"Background"
	65219	"Button Face"
	65220	"Button Highlight"
	65221	"Button Shadow"
	65222	"Button Text"
	65223	"Caption Text"
	65224	"Default"
	65225	"Gradient Active Caption"
	65226	"Gradient Inactive Caption"
	65227	"Gray Text"
	65228	"Highlight Background"
	65229	"Highlight Text"
	65230	"Hot Light"
	65231	"Inactive Border"
	65232	"Purple"
	65233	"Teal"
	65234	"Gray"
	65235	"Silver"
	65236	"Red"
	65237	"Lime"
	65238	"Yellow"
	65239	"Blue"
	65240	"Fuchsia"
	65241	"Aqua"
	65242	"White"
	65243	"Money Green"
	65244	"Sky Blue"
	65245	"Cream"
	65246	"Medium Gray"
	65247	"Active Border"
	65248	"Error setting %s.Count"
	65249	"Listbox (%s) style must be virtual in order to set Count"
	65250	"No OnGetItem event handler assigned"
	65251	"ANSI"
	65252	"ASCII"
	65253	"Unicode"
	65254	"Big Endian Unicode"
	65255	"UTF-8"
	65256	"UTF-7"
	65257	"PageControl must first be assigned"
	65258	"%s requires Windows Vista or later"
	65259	"Black"
	65260	"Maroon"
	65261	"Green"
	65262	"Olive"
	65263	"Navy"
	65264	"Cannot open clipboard"
	65265	"Text exceeds memo capacity"
	65266	"There is no default printer currently selected"
	65267	"Menu '%s' is already being used by another form"
	65268	"Picture:"
	65269	" (%dx%d)"
	65270	"Preview"
	65271	"Docked control must have a name"
	65272	"Error removing control from dock tree"
	65273	" - Dock zone not found"
	65274	" - Dock zone has no control"
	65275	"Error loading dock zone from the stream. Expecting version %d, but found %d."
	65276	"Custom..."
	65277	"Multiselect mode must be on for this feature"
	65278	"Error setting path: \"%s\""
	65279	"Separator"
	65280	"Home"
	65281	"Left"
	65282	"Up"
	65283	"Right"
	65284	"Down"
	65285	"Ins"
	65286	"Del"
	65287	"Shift+"
	65288	"Ctrl+"
	65289	"Alt+"
	65290	"(None)"
	65291	"Value must be between %d and %d"
	65292	"All"
	65293	"Unable to insert a line"
	65294	"Invalid clipboard format"
	65295	"Clipboard does not support Icons"
	65296	"Cancel"
	65297	"&Help"
	65298	"&Abort"
	65299	"&Retry"
	65300	"&Ignore"
	65301	"&All"
	65302	"N&o to All"
	65303	"Yes to &All"
	65304	"BkSp"
	65305	"Tab"
	65306	"Esc"
	65307	"Enter"
	65308	"Space"
	65309	"PgUp"
	65310	"PgDn"
	65311	"End"
	65312	"Abort"
	65313	"&All"
	65314	"Cannot drag a form"
	65315	"Metafiles"
	65316	"Enhanced Metafiles"
	65317	"Icons"
	65318	"Bitmaps"
	65319	"Invalid input value"
	65320	"Invalid input value.  Use escape key to abandon changes"
	65321	"Warning"
	65322	"Error"
	65323	"Information"
	65324	"Confirm"
	65325	"&Yes"
	65326	"&No"
	65327	"OK"
	65328	"Printer is not currently printing"
	65329	"Printing in progress"
	65330	"Printer selected is not valid"
	65331	"%s on %s"
	65332	"GroupIndex cannot be less than a previous menu item's GroupIndex"
	65333	"Cannot create form. No MDI forms are currently active"
	65334	"Can only modify an image if it contains a bitmap"
	65335	"A control cannot have itself as its parent"
	65336	"OK"
	65337	"Cancel"
	65338	"&Yes"
	65339	"&No"
	65340	"&Help"
	65341	"&Close"
	65342	"&Ignore"
	65343	"&Retry"
	65344	"Failed to read ImageList data from stream"
	65345	"Failed to write ImageList data to stream"
	65346	"Error creating window device context"
	65347	"Error creating window class"
	65348	"Cannot focus a disabled or invisible window"
	65349	"Control '%s' has no parent window"
	65350	"Parent given is not a parent of '%s'"
	65351	"Cannot hide an MDI Child Form"
	65352	"Cannot change Visible in OnShow or OnHide"
	65353	"Cannot make a visible window modal"
	65354	"Scrollbar property out of range"
	65355	"%s property out of range"
	65356	"Menu index out of range"
	65357	"Menu inserted twice"
	65358	"Sub-menu is not in menu"
	65359	"Not enough timers available"
	65360	"Bitmap image is not valid"
	65361	"Icon image is not valid"
	65362	"Metafile is not valid"
	65363	"Invalid pixel format"
	65364	"Invalid image"
	65365	"Scan line index out of range"
	65366	"Cannot change the size of an icon"
	65367	"Invalid operation on TOleGraphic"
	65368	"Unknown picture file extension (.%s)"
	65369	"Unsupported clipboard format"
	65370	"Out of system resources"
	65371	"Canvas does not allow drawing"
	65372	"Invalid image size"
	65373	"Invalid ImageList"
	65374	"Unable to Replace Image"
	65375	"Invalid ImageList Index"
	65376	"Resource %s not found"
	65377	"%s.Seek not implemented"
	65378	"Operation not allowed on sorted list"
	65379	"Too many rows or columns deleted"
	65380	"%s not in a class registration group"
	65381	"Property %s does not exist"
	65382	"Stream write error"
	65383	"Thread creation error: %s"
	65384	"Thread Error: %s (%d)"
	65385	"Unable to find a Table of Contents"
	65386	"No help found for %s"
	65387	"No context-sensitive help installed"
	65388	"No help found for context"
	65389	"No topic-based help system installed"
	65390	"Tab position incompatible with current tab style"
	65391	"Tab style incompatible with current tab position"
	65392	"Invalid property value"
	65393	"Invalid property element: %s"
	65394	"Invalid property path"
	65395	"Invalid property type: %s"
	65396	"Invalid property value"
	65397	"Invalid data type for '%s'"
	65398	"Cannot insert or delete rows from grid"
	65399	"List capacity out of bounds (%d)"
	65400	"List count out of bounds (%d)"
	65401	"List index out of bounds (%d)"
	65402	"Out of memory while expanding memory stream"
	65403	"Error reading %s%s%s: %s"
	65404	"Stream read error"
	65405	"Property is read-only"
	65406	"Failed to get data for '%s'"
	65407	"Failed to set data for '%s'"
	65408	"A class named %s already exists"
	65409	"List does not allow duplicates ($0%x)"
	65410	"A component named %s already exists"
	65411	"String list does not allow duplicates"
	65412	"Cannot create file %s"
	65413	"Cannot create file \"%s\". %s"
	65414	"Fixed column count must be less than column count"
	65415	"Fixed row count must be less than row count"
	65416	"Cannot open file %s"
	65417	"Cannot open file \"%s\". %s"
	65418	"Grid too large for operation"
	65419	"Grid index out of range"
	65420	"Unable to write to %s"
	65421	"Invalid file name - %s"
	65422	"Invalid stream format"
	65423	"''%s'' is not a valid component name"
	65424	"Fri"
	65425	"Sat"
	65426	"Sunday"
	65427	"Monday"
	65428	"Tuesday"
	65429	"Wednesday"
	65430	"Thursday"
	65431	"Friday"
	65432	"Saturday"
	65433	"Unable to create directory"
	65434	"Ancestor for '%s' not found"
	65435	"Cannot assign a %s to a %s"
	65436	"Bits index out of range"
	65437	"Can't write to a read-only resource stream"
	65438	"CheckSynchronize called from thread $%x, which is NOT the main thread"
	65439	"Class %s not found"
	65440	"February"
	65441	"March"
	65442	"April"
	65443	"May"
	65444	"June"
	65445	"July"
	65446	"August"
	65447	"September"
	65448	"October"
	65449	"November"
	65450	"December"
	65451	"Sun"
	65452	"Mon"
	65453	"Tue"
	65454	"Wed"
	65455	"Thu"
	65456	"Access violation at address %p in module '%s'. %s of address %p"
	65457	"System Error.  Code: %d.\r\n%s"
	65458	"A call to an OS function failed"
	65459	"Jan"
	65460	"Feb"
	65461	"Mar"
	65462	"Apr"
	65463	"May"
	65464	"Jun"
	65465	"Jul"
	65466	"Aug"
	65467	"Sep"
	65468	"Oct"
	65469	"Nov"
	65470	"Dec"
	65471	"January"
	65472	"Custom variant type (%s%.4x) already used by %s"
	65473	"Custom variant type (%s%.4x) is not usable"
	65474	"Too many custom variant types have been registered"
	65475	"Could not convert variant of type (%s) into type (%s)"
	65476	"Overflow while converting variant of type (%s) into type (%s)"
	65477	"Variant overflow"
	65478	"Invalid argument"
	65479	"Invalid variant type"
	65480	"Operation not supported"
	65481	"Unexpected variant error"
	65482	"External exception %x"
	65483	"Assertion failed"
	65484	"Interface not supported"
	65485	"Exception in safecall method"
	65486	"%s (%s, line %d)"
	65487	"Abstract Error"
	65488	"Exception %s in module %s at %p.\r\n%s%s\r\n"
	65489	"Application Error"
	65490	"Format '%s' invalid or incompatible with argument"
	65491	"No argument for format '%s'"
	65492	"Variant method calls not supported"
	65493	"Read"
	65494	"Write"
	65495	"Format string too long"
	65496	"Error creating variant or safe array"
	65497	"Variant or safe array index out of bounds"
	65498	"Variant or safe array is locked"
	65499	"Invalid variant type conversion"
	65500	"Invalid variant operation"
	65501	"Invalid NULL variant operation"
	65502	"Invalid variant operation (%s%.8x)\n%s"
	65503	"Custom variant type (%s%.4x) is out of range"
	65504	"Invalid numeric input"
	65505	"Division by zero"
	65506	"Range check error"
	65507	"Integer overflow"
	65508	"Invalid floating point operation"
	65509	"Floating point division by zero"
	65510	"Floating point overflow"
	65511	"Floating point underflow"
	65512	"Invalid pointer operation"
	65513	"Invalid class typecast"
	65514	"Access violation at address %p. %s of address %p"
	65515	"Access violation"
	65516	"Stack overflow"
	65517	"Control-C hit"
	65518	"Privileged instruction"
	65519	"Operation aborted"
	65520	"'%s' is not a valid integer value"
	65521	"'%s' is not a valid floating point value"
	65522	"'%s' is not a valid date"
	65523	"'%s' is not a valid time"
	65524	"'%s' is not a valid date and time"
	65525	"'%s' is not a valid GUID value"
	65526	"Invalid argument to time encode"
	65527	"Invalid argument to date encode"
	65528	"Out of memory"
	65529	"I/O error %d"
	65530	"File not found"
	65531	"Invalid filename"
	65532	"Too many open files"
	65533	"File access denied"
	65534	"Read beyond end of file"
	65535	"Disk full"
END

LANGUAGE 4, 2

STRINGTABLE DISCARDABLE
BEGIN
	60754	"Other..."
	60755	"Default"
	60756	"None"
	60757	"Sky Blue"
	60758	"Money Green"
	60759	"Cream"
	60760	"Info Background"
	60761	"Info Text"
	60762	"3D Light"
	60763	"3D Dark Shadow"
	60764	"Button Highlight"
	60765	"Inactive Caption Text"
	60766	"Button Text"
	60767	"Gray Text"
	60768	"Button Shadow"
	60769	"Button Face"
	60770	"Highlight Text"
	60771	"Highlight Menu Item"
	60772	"Application WorkSpace"
	60773	"Inactive Border"
	60774	"Active Border"
	60775	"Caption Text"
	60776	"Window Text"
	60777	"Menu Text"
	60778	"Window Frame"
	60779	"Window"
	60780	"Menu"
	60781	"Inactive Caption"
	60782	"Active Caption"
	60783	"Background"
	60784	"ScrollBar"
	60785	"White"
	60786	"Aqua"
	60787	"Fuchsia"
	60788	"Blue"
	60789	"Yellow"
	60790	"Lime"
	60791	"Red"
	60792	"Silver"
	60793	"Gray"
	60794	"Teal"
	60795	"Purple"
	60796	"Navy"
	60797	"Olive"
	60798	"Green"
	60799	"Maroon"
	60800	"Black"
